* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

.hero {
    width: 1920px;
    height: 945px;
    margin: auto;
    background: linear-gradient(rgb(0,0,0,0.3), rgb(0,0,0,0.3)), url(../img/hero.jpg) center/cover no-repeat;
}